// bower:scss
// endbower

body {
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

.header {
    width: max;
    height: 41px;
    font-size: 20px; 
} 

.main {
    margin-left: 500px; 
}

.sidebar {
    height: 230;
    width: 230;
    background-image: url(https://avatars3.githubusercontent.com/u/7440540?s=460);
}

