// bower:scss
// endbower

body {
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}


.header {
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #e5e5e5;
    width: max;
    height: 40px;
    font-size: 20px;
    background-color: #f3f3f3; 
} 

.main {
    margin-top: 20px;
    margin-right: 230px;
    margin-left: 230px;
    width: 980px;
    height: 1000px; 
    display: inline-block;
}

.side {
    float: left;
}

.avatar { 
    border-radius: 6px;
}

.user-name {
    padding-top: 5px;
    padding-bottom: 15px;
    width: 230px;
    height: 24px;
    display: block;
    overflow: hidden;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
    text-overflow: ellipsis;
}
  
.user-details {
    list-style: none;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-top-width: 1px;
    border-top-style: solid;   
}

.user-stats {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 60px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.stat {
    float: left;
    width: 33%;
    font-size: 11px;
    color: #999;

    &:hover {
        color: #4183c4;
    }
   
}

.stat-words {
    display: block;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #222; 

    &:hover {
        color: #4183c4;
    }
}

.repo-container {
    width: 720px;
    height: 800px;
    padding-left: 20px;
    padding-top: 100px;
    display: inline-block;
    text-decoration: none;  
}

.repo-right {
    width: 150px;
    float: right;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #666;
}

.userData {
    margin-top: 100px;
}

.book {
    color: #bbb;
    padding-top: 10px;
    padding-right: 10px;
}

.get-name1 {
    color: #4183c4;
    border-top: 1px solid #eee;
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    padding-top: 20px;
    text-decoration: none;

    &:hover {
    text-decoration: underline;
    }
}


.get-des {
    padding-top: 8px;
    color: #333333;
}

.get-date {
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 24px;
    color: #999999;
    border-bottom: 1px solid #eee;
}

.get-lang {
    padding-top: 35px;
    padding-right: 20px;
    float: right;
}

.get-star {
    padding-top: 35px;
    padding-right: 20px;
    float: right;
    text-decoration: none;
    color: #666;

    &:hover {
        color: #4183c4;
    }
}

.get-fork {
    padding-top: 35px;
    float: right;
    text-decoration: none;
    color: #666;

    &:hover {
        color: #4183c4;
    }
}




